rules_version = '2';
service firebase.storage {
  // Block all access from the front end
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
